* {
  box-sizing: border-box;
}

body {
  font-family: 'Amaranth', sans-serif;
}

ul {
  margin: 0;
}

h3 {
  font-size: 2.5rem;
}

h6 {
  font-size: 1rem;
}

/*Header Section*/
header {
  position: relative;
  width: 100%;
  /* min-height: 300vh; */
  min-height: 100vh;
  background-color: #0091ea;
}

.brand-logo img {
 margin-top: 15px;
  
}

div.slider,
div.slider img,
div.slider ul,
div.slider li {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

div.slider h3,
div.slider h5 {
  font-weight: 700;
  text-shadow: 1px 1px 4px #6d6c6c;
}

.slider .slides li .caption {
  top: 20%;
}

div.slider h5 a {
  color: white;
}

div.slider h5 a:visited {
  color:white;
}

div.slider h5 a:hover {
  color: black;
}

nav {
  position: relative;
  z-index: 2;
  height: 64px;
  background-color: transparent;
  box-shadow: none;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

.shadow {
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
}
/* -----------INFO PAGE--------------------- */

.section-info > .container {
  display: flex;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
}

.section-info > .container > .imgbox {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.section-info > .container > .imgbox > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.section-info > .container > .info {
  position: relative;
  background: rgba(255,255,255,0.4);
  border-radius: 40px;
  backdrop-filter: blur(40px);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 700px;
  height: auto;
  max-height: 500px;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 40px;
  width: 63.33333%;
  line-height: 30px;
  text-align: left;
  font-size: 18px;
}

/* -----------EXPERIENCE PAGE--------------------- */
.section-ex {
  background-image: url("../img/ex.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-ex > .container {
  text-align:center;
  height: auto;
  min-height: 500px;
}

.section-ex > .container > .experience-cards {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  text-align:center;
  padding: 10px;
}

.section-ex > .container > .experience-cards > .experience-card {
  margin: 4%;
  border-radius: 20px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 10px;
}

.section-ex > .container > .experience-cards > .experience-card 
> .company {
  text-decoration:underline;
  padding-top: 10px;
}

.section-ex > .container > .experience-cards > .experience-card 
> .job {
  text-align: left;
  padding-left: 20px;

}

.section-ex > .container > .experience-cards > .experience-card 
> .jobcontent {
  text-align: left;
  padding-left: 20px;

}

.section-ex > .container > .experience-cards > .experience-card >
.jobcontent > p{
  display: inline;
  text-align: left;
}

/* --------project page-------- */
.section-project > .container {
  height: 70vh;
}

.section-project > .container > .carousel {
  margin-top: 40px;
}

.section-project > .container > .carousel > .card {
  width: 600px;
  height: 500px;
}

.section-project > .container > .carousel > .card > 
.card-image > .card-title {
  top: 50%;
  left: 50%;
  bottom: unset;
  padding: 5px;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 1px #575555; 
  border: 2px solid rgb(255,255,255);
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;  
}

.section-project > .container > .carousel > .card > 
.card-image:hover > .card-title{
  opacity: 1;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.section-project > .container > .carousel > .card > 
.card-image:hover > .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  transition: all .3s ease-in;
  -webkit-transition: all .3 ease-in;
}

.section-project > .container > .carousel > .card > 
.card-reveal {
  padding-top: 50px;
  background-image: url("../img/sky.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-project > .container > .carousel > .card > 
.card-reveal .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.15)
}

.section-project > .container > .carousel > .card > 
.card-reveal > span {
  position: relative;
}

.section-project > .container > .carousel > .card > 
.card-reveal > .card-title {
  font-size: 2rem;
  display: block;
  text-align: left;
}

.section-project > .container > .carousel > .card > 
.card-reveal > .card-title > i {
  font-size: 2rem;
  line-height: 3rem;
}

.section-project > .container > .carousel > .card > 
.card-reveal ul {
  margin-top: 10px;
  list-style-type: circle;
  text-align: left;

}

.section-project > .container > .carousel > .card > 
.card-reveal li {
  font-size: 1.2rem;
}

.section-project > .container > .carousel > .card > 
.card-reveal li > .fa-caret-right {
  margin-left: 20px;
}

.section-project > .container > .carousel > .card > 
.card-reveal > .card-reveal-icons {
  margin-top: 8px;
}

.section-project > .container > .carousel > .card > 
.card-reveal > .card-reveal-icons > a {
  margin: 0 4px;
}

/* --------contact page-------- */
.section-contact > .container {
  height: 50vh;
}

.section-contact > .container > .row {
  height: auto;
}

.section-contact > .container > .row > .contact-info {
  height: auto;
}

.section-contact > .container > .row > .contact-info h5 {
  margin-bottom: 40px;
}

.section-contact > .container > .row > .contact-info h5,h6 {
  text-align: left;
}

/* -------       RWD      ----------- */
@media screen and (max-width: 1200px) {

  .section-info > .container {
    display: flex;
    height: auto;
    flex-direction: column;
    
  }
  
  .section-info > .container > .info{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 0px;
    width: 100%;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
  }

  .section-info > .container > .imgbox {
    margin-top: 5%;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 600px) {
  .section-project > .container {
    height: 40vh;
  }

  .section-project > .container > .carousel {
    margin-top: -30%;
  }
  
  .section-project > .container > .carousel > .card {
    width: 80%;
    height: 50%;
  }

  .section-project > .container > .carousel > .card > 
  .card-image > .card-title {
    top: 50%;
    left: 50%;
    font-size: 1rem;
  }
  .section-project > .container > .carousel > .card > 
  .card-reveal {
    padding-top: 20px;
  }

  .section-project > .container > .carousel > .card > 
  .card-reveal > .card-title {
    font-size: 1.5rem;
  }

  .section-project > .container > .carousel > .card > 
  .card-reveal > .card-title > i {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .section-project > .container > .carousel > .card > 
  .card-reveal ul {
    margin-top: 4px;
    list-style-type: circle;
    text-align: left;

  }

  .section-project > .container > .carousel > .card > 
  .card-reveal li {
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 380px) {
  .section-project > .container {
    height: 50vh;
  }
}